.bibanchor {  display:none;}
.bibref {  display:none;}
.theader {  display:none;}
.sheader {  display:none;}
.sheader {  display:none;}


nav {
    width: 100%;
    font-size: 32px !important;
}
.nav a{
    color: white !important;
    font-size: 1.8em !important;
    }
.nav li{
    padding-right:25px;
   }

li {
    background-color:white;
}
