.bibanchor {  display:none;}
.bibref {  display:none;}
.theader {  display:none;}
.sheader {  display:none;}
.sheader {  display:none;}

.button {border-radius: 2px;
  color: black;
}

nav {
    width: 100%;
    font-size: 32px !important;
}
.nav a{
    color: white !important;
    font-size: 1.8em !important;
    }
.nav li{
    padding-right:25px;
   }

 .purebibtex {
   font-size: small;
   padding:10px;
   max-width: 600px;
   min-width: 200px;
 }

 pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.list-group-item{
   display:inline;
   background-color: rgb(238, 244, 251);
 }

.list-group{
  list-style-type:none;
}
